p.caption {
    color: #777;
    margin-top: 10px;
}
p code {
    white-space: inherit;
}
pre {
    line-height: 1.05;
    word-break: normal;
    word-wrap: normal;
}
pre code {
    white-space: inherit;
}
